* {
    font-family: sans-serif;
}

#disclaimer {
    color: red;
    text-align: center;
    padding: 8px;
    background: white;
    border: solid 1px black;
    border-radius: 20px;
}

.header.main, .description, .recipe {
    text-align: center;
}

.header.main {
    font-weight: bold;
    background: #cfcdc8;
    padding: 8px;
    border: solid 2px black;

}

.description {
    color: grey;
    font-style: italic;
}

.header {
    padding: 4px;
    border: solid 1px black;
    background: #abebbc;
    border-radius: 3px;
}

.adobo, .rice, .egg {
    padding: 4px;
    border: solid 1px black;
    background: #cfcdc8;
    color: black;
    border-radius: 2px;
}